# Ignore Unity-specific temporary folders
/Library/
/Temp/
/Obj/
/Build/
UserSettings/

# Ignore other unnecessary files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Allow only C# files and Unity essential files
*.cs
*.asmdef
*.csproj
*.sln

# Ignore other files that are not essential (ShaderLab, etc.)
*.shader
*.cginc
*.hlsl
*.txt
*.xml
*.json
*.yaml
*.mat
*.prefab
*.asset
*.unity
